@import './common.scss';
.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include display (flex, column);
}

.header {
    width: 100%;
    height: px2rem(40px);
    background: #ff852a;
    @include display(flex);
    padding-left: px2rem(6px);
    padding-right: px2rem(6px);
    box-sizing: border-box;
    img {
        width: px2rem(32px);
        height: px2rem(30px);
    }
    p {
        width: 80%;
        margin-left: px2rem(20px);
        height: px2rem(26px);
        background: #ff4e22;
        @include display(flex);
    }
    input {
        width: 100%;
        height: auto;
        border: none;
        outline: none;
        background: #ff4e22;
        color: #fff;
        margin-left: 20px;
    }
}

.main {
    width: 100%;
    flex: 1;
    height: auto;
    overflow-y: auto;
    .banner {
        width: 100%;
        height: px2rem(150px);
        img {
            width: 100%;
            height: 100%;
        }
    }
    .tip {
        width: 100%;
        height: auto;
        @include display(flex);
        flex-wrap: wrap;
        dl {
            width: 20%;
            height: auto;
            dt {
                width: px2rem(80px);
                height: px2rem(80px);
                padding: px2rem(6px);
                img {
                    width: 90%;
                    height: 90%;
                }
            }
        }
        dd {
            text-align: center;
        }
    }
    .parent {
        width: 100%;
        height: px2rem(70px);
        @include display(flex);
        dt {
            width: px2rem(70px);
            height: px2rem(60px);
            img {
                width: 100%;
                height: 100%;
            }
        }
        dd {
            flex: 1;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .pic {
        width: 100%;
        height: auto;
        @include display(flex);
        flex-wrap: wrap;
        h4 {
            margin-top: 2px;
            margin-left: 4px;
        }
        li {
            @include display(flex);
            width: 50%;
            height: px2rem(120px);
            margin-top: 10px;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            dl {
                width: 50%;
                height: 100%;
                dt {
                    width: 90%;
                    height: auto;
                }
                dd {
                    width: 90%;
                    height: auto;
                    margin: 0 auto;
                    margin-top: px2rem(20px);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            p {
                width: 50%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: px2rem(50px);
    @include display(flex);
    dl {
        width: 20%;
        height: auto;
        text-align: center;
    }
}