@import './common.scss';
.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include display (flex, column);
}

.header {
    width: 100%;
    height: px2rem(40px);
    background: #ff852a;
    @include display(flex);
    padding-left: px2rem(6px);
    padding-right: px2rem(6px);
    box-sizing: border-box;
    img {
        width: px2rem(32px);
        height: px2rem(30px);
    }
    p {
        width: 80%;
        margin-left: px2rem(20px);
        height: px2rem(26px);
        background: #ff4e22;
        @include display(flex);
    }
    input {
        width: 100%;
        height: auto;
        border: none;
        outline: none;
        background: #ff4e22;
        color: #fff;
        margin-left: 20px;
    }
}

.main {
    width: 100%;
    flex: 1;
    height: auto;
    overflow-y: auto;
    .banner {
        width: 100%;
        height: px2rem(150px);
        img {
            width: 100%;
            height: 100%;
        }
    }
    .tip {
        width: 100%;
        height: auto;
        @include display(flex);
        flex-wrap: wrap;
        dl {
            width: 20%;
            height: auto;
            dt {
                width: px2rem(80px);
                height: px2rem(80px);
                padding: px2rem(6px);
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        dd {
            text-align: center;
        }
    }
}